<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>HN Archiver</title>
    <meta name="description" content="Grey Panther's Hacker News Archiver">
    <meta name="author" content="Grey Panther">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
    #container {
      min-height: 90%;
      min-height: 90vh;

      display: flex;
      align-items: center;
    }

    #content {
        width: 100%;
        text-align: center;
    }

    .left-align {
        text-align: left;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
</head>

<body>

<div id="container">
    <div id="content">
        This project is no longer maintained. Please see the <a href="https://cloud.google.com/bigquery/public-data/hacker-news">HackerNews dataset on BigQuery</a> for an alternative.
    </div>
</div>

</body>
</html>
